@model IEnumerable<DAWeb3.Models.HocSinh>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-image: url('https://img.freepik.com/free-vector/hand-drawn-back-school-background_23-2149464866.jpg');
        background-size: contain; /* Hiển thị hình ảnh mà không bị cắt bớt và giữ tỉ lệ */
        background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nền */
        background-position: center; /* Căn giữa hình ảnh */
        background-size: cover;
    }
</style>
<title>Danh Sach Hoc Sinh</title>
<h1>Danh Sách Học Sinh</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Họ và tên
            </th>
            <th>
                Email
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
           
            <th>
                Khối
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoiNavigation.TenKhoi)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaThanhVien">
                        <button class="btn btn-xs btn-warning" name="update">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                        </button>
                    </a>

                    <a asp-action="Details" asp-route-id="@item.MaThanhVien">
                        <button class="btn btn-xs btn-info" name="view">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </button>
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.MaThanhVien">
                        <button class="btn btn-xs btn-danger" name="delete">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
