@model IEnumerable<DAWeb3.Models.CauHoi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table th, .table td {
        max-width: 300px; /* Đặt chiều rộng tối đa cho mỗi cột */
        word-wrap: break-word; /* Tự động xuống dòng cho các từ dài */
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Câu hỏi
            </th>
            <th>
                Câu A
            </th>
            <th>
                Câu B
            </th>
            <th>
                Câu C
            </th>
            <th>
                Câu D
            </th>
            
            <th>
                Đáp án đúng 
            </th>
            <th>
                Thuộc Bài
            </th>
            <th>
                Mức độ
            </th>
            <th>
                Người tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CauHoi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DapAnA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DapAnB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DapAnC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DapAnD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDapAnNavigation.DapAn1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBaiNavigation.TenBai)
            </td>
      
            
            <td>
                @Html.DisplayFor(modelItem => item.MaMucDoNavigation.TenMucDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoitaoNavigation.Hoten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCauhoi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCauhoi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCauhoi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
