@model IEnumerable<DAWeb3.Models.MonHoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="MonHoc">
    <button type="submit" class="btn btn-success" id="btnAdd">
        <i class="fas fa-plus" aria-hidden="true"></i> Thêm lớp
    </button>
</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMonHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>     
            <th>
                Tên Khối
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meta)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoiNavigation.TenKhoi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMonHoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMonHoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMonHoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
