@model IEnumerable<DAWeb3.Models.GiaoVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-image: url('https://img.freepik.com/free-vector/hand-drawn-back-school-background_23-2149464866.jpg');
        background-size: contain; /* Hiển thị hình ảnh mà không bị cắt bớt và giữ tỉ lệ */
        background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nền */
        background-position: center; /* Căn giữa hình ảnh */
        background-size: cover;
    }
</style>
<title>Danh Sách Giáo Viên</title>
<h1>Danh Sách Giáo Viên</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Giáo Viên
            </th>
            <th>
                Mật Khẩu
            </th>
            <th>
                Họ Tên
            </th>
            <th>
                Số Điện thoại
            </th>
            <th>
                Email
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Magiaovien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdGiaovien">
                        <button class="btn btn-xs btn-warning" name="update">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                        </button>
                    </a>

                    <a asp-action="Details" asp-route-id="@item.IdGiaovien">
                        <button class="btn btn-xs btn-info" name="view">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </button>
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.IdGiaovien">
                        <button class="btn btn-xs btn-danger" name="delete">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
