@model IEnumerable<DAWeb3.Models.DeThi>

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
<style>
    body {
        background-image: url('https://img.freepik.com/free-vector/hand-drawn-back-school-background_23-2149464866.jpg');
        background-size: contain; /* Hiển thị hình ảnh mà không bị cắt bớt và giữ tỉ lệ */
        background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nền */
        background-position: center; /* Căn giữa hình ảnh */
        background-size: cover;
    }
</style>
    <h1>Danh Sách Kết Quả</h1>
    <title>Danh Sách Kết Quả</title>
  
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ngày thi
                </th>
                <th>
                    Thời gian
                </th>

                <th>
                    Tên đề thi
                </th>

                <th>
                    Người tạo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianThi) Phút
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenDeThi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NguoiTaoNavigation.Hoten)
                </td>
                <td>
                    <a asp-action="XemKetQua" asp-route-id="@item.IdDeThi">Xem kết quả</a>

                </td>
            </tr>
}
        </tbody>
    </table>
