@model IEnumerable<DAWeb3.Models.DeThi>

@{
    ViewData["Title"] = "Đề thi";
    Layout = "~/Views/Shared/_StudenLayout.cshtml";
}
<style>
    body {
        background-image: url('https://img.freepik.com/free-vector/hand-drawn-back-school-background_23-2149464866.jpg');
        background-size: contain; /* Hiển thị hình ảnh mà không bị cắt bớt và giữ tỉ lệ */
        background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nền */
        background-position: center; /* Căn giữa hình ảnh */
        background-size: cover;
    }
</style>
@{
    var maThanhVien = ViewBag.MaThanhVien;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-AdQ0zFEr/uHLs2c6aDl4DOPeNl+gO+XaZbD6zliqOsJfT+4Pzjr6z+NqlK84lDt5" crossorigin="anonymous">
<style>
    body {
        font-family: 'Bitter', serif;
        font-size: 17px;
    }

    .profile-button-container {
        position: absolute;
        top: -60px;
        right: 30px;
    }
</style>
<h1>Danh Sách Đề Thi</h1>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<div class="profile-button-container">
    <a id="profileButton" class="btn btn-success" href="#">Xem hồ sơ</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Ngày thi
            </th>
            <th>
                Thời gian
            </th>

            <th>
                Tên đề thi
            </th>

            <th>
                Người tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianThi) Phút
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenDeThi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NguoiTaoNavigation.Hoten)
                </td>
                <td>
                    <a asp-action="Start" asp-route-id="@item.IdDeThi">Bắt đầu thi/Xem Chi Tiết</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Đợi tài liệu được tải hoàn toàn trước khi thêm xử lý sự kiện
    $(document).ready(function () {
        // Xử lý sự kiện khi nhấn nút xem hồ sơ
        $("#profileButton").click(function (e) {
            e.preventDefault(); // Ngăn chặn hành vi mặc định của nút

            var maThanhVien = "@TempData["AlertMessage"]"; // Sử dụng biến maThanhVien đã khai báo ở phần Razor
            window.open("/HocSinh/Details/" + maThanhVien);
            // Mở trang mới và hiển thị view Details của controller học sinh

        });
    });
</script>